<?xml version="1.0"?>
<launch>
    <arg name="debug" default="0"/>
    <node ns="mutac" name="global_execution_monitor" pkg="execution_monitor" type="global_execution_monitor" output="screen" launch-prefix="gdb -ex run --args" if="$(arg debug)"/>
    <node ns="mutac" name="global_execution_monitor" pkg="execution_monitor" type="global_execution_monitor" output="screen" unless="$(arg debug)"/>
</launch>