<?xml version="1.0"?>
<launch>
    <node ns="mutac" name="global_execution_monitor" pkg="execution_monitor" type="global_execution_monitor" output="screen"/>

    <node ns="mutac/drone1" name="execution_monitor" pkg="execution_monitor" type="execution_monitor" output="screen">
        <param name="n_drone" value="1"/>
    </node>

    <node ns="mutac/drone2" name="execution_monitor" pkg="execution_monitor" type="execution_monitor" output="screen">
        <param name="n_drone" value="2"/>
    </node>

    <node ns="mutac/drone3" name="execution_monitor" pkg="execution_monitor" type="execution_monitor" output="screen">
        <param name="n_drone" value="3"/>
    </node>

</launch>